<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TuyoursTruly | SJF-P</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-8">
    <nav class="max-w-4xl mx-auto flex gap-6 mb-12 border-b border-white/5 pb-4">
        <a href="/" class="text-white font-bold">Home</a>
        <a href="/simulator" class="nav-link">Simulator</a>
        <a href="/about" class="nav-link">About Algorithm</a>
    </nav>
    <div class="max-w-4xl mx-auto text-center py-20">
        <h1 class="text-5xl font-black text-white mb-6">Shortest Job First</h1>
        <p class="text-slate-400 text-lg mb-8">Preemptive Scheduling Simulator with Real-Time Gantt Visualization.</p>
        <a href="/simulator" class="bg-blue-600 text-white px-8 py-3 rounded-full font-bold hover:bg-blue-500 transition">Launch Simulator</a>
    </div>
</body>
</html>