<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Partition Preemptive SJF Simulator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="flex flex-col items-center justify-between min-h-screen py-32">
    <div class="text-center z-10">
        <h1 class="text-6xl font-bold text-[#10b981] mb-6">Dynamic Partition</h1>
        <h2 class="text-5xl font-bold text-[#10b981] mb-12">Preemptive Shortest Job First (SJF)</h2>
        <p class="text-2xl text-gray-300">CPU Algorithm Scheduling Simulator</p>
    </div>
    <a href="/about" class="z-10 bg-[#10b981] text-white px-20 py-5 rounded-full text-3xl font-bold hover:scale-105 transition-transform shadow-2xl">Start</a>
    <div class="wave-container"><div class="wave"></div></div>
</body>
</html>